$input-avatar-size: 120px;

//Input
.field-input {
    padding: 0 24px;
    display: flex;

    &.disabled {
      opacity: 0.4;
    }

    &.wi {
      padding-left: 64px;
    }

    > * {
      display: inline-flex;
    }

    .material-icons {
      position: absolute;
      bottom: 0;
      left: 8px;
      width: 48px;
      height: 48px;
      @extend .flex-middle;
      @extend .secondaryOpacity; 

      &.wd {
        margin-bottom: 14px;
      }
      &.focus {
        color: $main-color;
      }
    }
    
    label{
        position: absolute;
        padding-top: 8px;
        margin-top: 30px;
        left: 0;
        cursor: text;
        max-width: 100%;
        @extend .secondaryOpacity; 
        @extend .font-overflow; 
        transition-duration: 0.5s;

        &.focus {
            color: $main-color;
        }
        &.active, &.focus {
            margin-top: 0;
            padding-top: 16px;
            @extend .font-caption;
            transition-duration: 0.5s;
        }
    }
    .input-error, .input-description{
        @extend .font-caption;
        @extend .font-overflow;
        max-width: 100%;
        position: absolute;
        padding-bottom: 4px;
        left: 0;
        bottom: 0;
    }

    .inputBox {
      width: 100%;
    }

    input{
        width: 100%;
        border: none;
        border-bottom: 1px solid $darkDividers;
        padding: 8px 0 7px;
        margin: 16px 0 8px;
        @extend .font-overflow;

        &.wl {
          margin-top: 30px;
        }
        &.wd, &.we {
          margin-bottom: 22px;
        }
        &:disabled{
          background-color: white;
        }
        &:focus {
          outline: none;
          border-bottom: 1px solid $main-color;
        }
        &.invalid {
          border-bottom: 1px solid $error-color;
        }
    }
}

.avatar-container {
    height: 60px;
    text-align: center;

    .btn-photo {
        width: 100%;
        height: 100%;
        opacity: 0;
        background: $textDarkHint;
        transition: opacify 0.3s ease;

        i{
            color: white;
        }
    }
    .btn-photo:hover {
        opacity: 0.5;
    }
}

.input-avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: $input-avatar-size;
    width: $input-avatar-size;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    border: white 4px solid;
}

.inputs-psw {

    display: flex;

    & > * {
        width: 100%;
    }

    & > *:first-child{
      margin-right: 12px; 
      margin-left: 0; 
    }
    & > *:last-child{
      margin-right: 0; 
      margin-left: 12px; 
    }

}


//CheckBox
.input-checkbox {
    padding: 16px 24px 8px;
    display: inline-flex;

    &.disabled {
        opacity: 0.4;
    }

    [type=checkbox].filled-in:checked+label:after {
        border: 2px solid $main-color;
        background-color: $main-color;
    }
    [type=checkbox]:checked, [type=checkbox]:not(:checked) {
        position: absolute;
        left: -9999px;
        visibility: hidden;
    }
    [type=checkbox]+label {
        @extend .font-body-1;
        position: relative;
        padding-right: 32px;
        height: 24px;
        width: 100%;
    }
    [type=checkbox].filled-in:checked+label:before {
        top: 3px;
        right: 13px;
        width: 8px;
        height: 13px;
        border-top: none;
        border-left: none;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotateZ(37deg);
        transform-origin: 100% 100%;
    }
    [type=checkbox].filled-in:checked+label:after {
        border: 2px solid $main-color;
        background-color: $main-color;
        top: 0;
        width: 20px;
        height: 20px;
        z-index: 0;
    }
    [type=checkbox].filled-in:not(:checked)+label:after {
        height: 20px;
        width: 20px;
        background-color: transparent;
        border: 2px solid $textDarkSecondary;
        top: 0;
        z-index: 0
    }
    [type=checkbox]+label, [type=radio]:checked+label, [type=radio]:not(:checked)+label {
        display: inline-block;
        line-height: 24px;
        cursor: pointer;
        user-select: none;
    }
    [type=checkbox].filled-in+label:after, [type=checkbox].filled-in+label:before {
        content: '';
        right: 0;
        position: absolute;
        transition: border .25s;
        z-index: 1;
    }
    [type=checkbox].filled-in+label:after {
        border-radius: 2px;
    }

}


//InputSelect Menu
.input-select {
    position: relative;
    display: inline-flex;
    margin: 0 24px;

    .field-input {
      width: 100%;
      padding: 0;

      input {
        cursor: pointer;
      }
    }

    .material-icons {
      position: absolute;
      right: 0px;
      top: 20px;
      z-index: 0;
    }

    .input-select-context {
        @extend .shadow--2dp;
        width: 100%;
        z-index: 1;
        background: white;
        position: absolute;
        overflow: auto;
        top: 0px;
        left: 0;
        max-height: 250px;
        padding: 8px 0;

        >*{
            @extend .clickable;
            padding: 16px;

            &:hover{
                background: $textDarkDividers;
            }
        }
    }
}

//Toogle
.switch {
    height: 24px;
}

.switch label .lever, .switch label .lever:after {
    content: '';
    display: inline-block;
}

.date-input-container {
    position: relative;
    display: inline-block;
    width: auto;    
    height: 42px;
    .date-input {
        font-size: 14px;
        box-sizing: border-box;
        box-shadow: none;
        outline: none;
        background: transparent;
        min-width: 120px;
        max-width: 180px;
        padding: 0 0 5px;
    }
}


.switch, .switch * {
    user-select: none;
}

.switch label {
    cursor: pointer
}

.switch label input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: rgba($main-color, 0.4)
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: $main-color;
}

.switch label input[type=checkbox]:checked + .lever:after {
    left: 24px
}

.switch input[type=checkbox][disabled] + .lever {
    cursor: default
}

.switch label input[type=checkbox][disabled] + .lever:after, .switch label input[type=checkbox][disabled]:checked + .lever:after {
    background-color: #BDBDBD
}

[type=checkbox].filled-in:not(:checked) + label:before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px;
    transform: rotateZ(37deg);
    transform-origin: 100% 100%
}

[type=checkbox].filled-in:not(:checked) + label:after {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #5a5a5a;
    top: 0;
    z-index: 0
}

input[type=checkbox]:checked:not(:disabled) ~ .lever:active:after {
    @extend .shadow--2dp;
}

input[type=checkbox]:not(:disabled) ~ .lever:active:after {
    @extend .shadow--2dp;
}

.switch label .lever {
    position: relative;
    width: 40px;
    height: 15px;
    background-color: #818181;
    border-radius: 15px;
    transition: background .3s ease;
    vertical-align: middle;
    margin: 0 16px
}

.switch label .lever:after {
    position: absolute;
    @extend .shadow--2dp;
    width: 21px;
    height: 21px;
    background-color: #F1F1F1;
    border-radius: 21px;
    left: -5px;
    top: -3px;
    transition: left .3s ease, background .3s ease, box-shadow .1s ease;
}

.input-radio{
    &.disabled {
        opacity: 0.4;
    }

    [type="radio"]:not(:checked), [type="radio"]:checked {
        position: absolute;
        left: -9999px;
        opacity: 0;
    }

    [type="radio"] {
        box-sizing: border-box;
        padding: 0;
    }

    [type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
        border: 2px solid #5a5a5a;
    }
    [type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after, 
    [type="radio"]:checked+label:before, [type="radio"]:checked+label:after {
        border-radius: 50%;
    }
    
    [type="radio"]+label:before, [type="radio"]+label:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        margin: 4px;
        width: 16px;
        height: 16px;
        z-index: 0;
        transition: .28s ease;
    }

    [type="radio"]:not(:checked)+label:after {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    [type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
        border: 2px solid #5a5a5a;
    }

    [type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        display: inline-block;
        height: 25px;
        line-height: 25px;
        font-size: 1rem;
        transition: .28s ease;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    [type="radio"]:checked+label:after, [type="radio"]:checked+label:after {
        background-color: $main-color;
    }
    
    [type="radio"]:checked+label:after, [type="radio"]:checked+label:before, [type="radio"]:checked+label:after {
        border: 2px solid $main-color;
    }

}