//Цвета темы
$layer: #292929;
$main-color: #2196f3;
$error-color: red;
$darkDividers: rgba(0,0,0,0.12);

//Дополнительные цвета (color & background-color)
$colors:  
    ("main-color" $main-color),
    ("error-color" $error-color),
    ("white" #ffffff),
    ("date-black" rgba(0,0,0,0.87)),
    
    ("red" #f44336),
    ("pink" #e91e63),
    ("purple" #9c27b0),
    ("deep-purple" #673ab7),
    ("indigo" #3f51b5),
    ("blue" #2196f3),
    ("light-blue" #03a9f4),
    ("cyan" #00bcd4),
    ("teal" #009688),
    ("green" #4caf50),
    ("light-green" #8bc34a),
    ("lime" #cddc39),
    ("yellow" #ffeb3b),
    ("amber" #ffc107),
    ("orange" #ff9800 ),
    ("deep-orange" #ff5722),
    ("brown" #795548 ),
    ("grey" #9e9e9e),
    ("blue-grey" #607d8b);
    
@each $i in $colors {
    .#{nth($i,1)} {             // #<color>
        color: nth($i,2);
    }
    .bg-#{nth($i,1)} {             // #bg-<color>
        background-color: nth($i,2);
    }
    .border-#{nth($i,1)} {             // #border-<color>
        border-color: nth($i,2);
    }
}


// Цвета шрифтов
// Темный
$textDarkPrimary: rgba(0,0,0,0.87); 
$textDarkSecondary: rgba(0,0,0,0.54); 
$textDarkHint: rgba(0,0,0,0.38); 
$textDarkDividers: rgba(0,0,0,0.12);

// Светлый 
$textLightPrimary: rgba(255,255,255,1); 
$textLightSecondary: rgba(255,255,255,0.7); 
$textLightHint: rgba(255,255,255,0.5); 
$textLightDividers: rgba(255,255,255,0.12);

.primaryOpacity{  
  &.sheme-light {
    opacity: 1;
  }
  &.sheme-dark {
    opacity: 0.87;
  }
}

.secondaryOpacity{  
  &.sheme-light {
    opacity: 0.7;
  }
  &.sheme-dark {
    opacity: 0.54;
  }
}

.hintOpacity{  
  &.sheme-light {
    opacity: 0.5;
  }
  &.sheme-dark {
    opacity: 0.38;
  }
}

.dividersOpacity{  
  &.sheme-light {
    opacity: 0.12;
  }
  &.sheme-dark {
    opacity: 0.12;
  }
}