$transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

.calendar {
  width: 100%;
  height: 100%;
  text-transform: capitalize;

  .calendar-root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;

    &.calendar-mode-landscape {
      flex-direction: row;
      align-content: stretch;

      .calendar-date-display--root {
        display: flex;
        flex-direction: column;
        padding: 10px;
        min-width: 165px;
        max-width: 165px;
        border-radius: 2px 0 0 2px;
      }
    }
  }

  .calendar-container {
    min-width: 330px;
    width: 330px;
    max-width: 330px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .calendar-content {
      width: 100%;
      max-width: 100%;
      overflow: hidden;
    }
  }

  .calendar-date-display--root {
    background: $main-color;
    padding: 15px 24px;
    min-height: 96px;
    border-radius: 2px 2px 0 0;
    //max-height: 96px;
    //height: 96px;

    .date-display--label-year {
      text-align: left;
      font-size: 16px;
      font-weight: 500;
      color: rgba(255, 255, 255, 1);
      padding: 5px 0;
    }
  }

  .calendar-weeks--root {
    padding: 0px 10px 5px;
  }

  .calendar-toolbar--root {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .calendar-toolbar--label-container {
      width: 100%;
      overflow: hidden;

      .calendar-toolbar--label {
        width: 100%;
        min-width: 100%;
        height: 100%;
        text-align: center;
      }
    }
  }

  .calendar-action-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 40px;
    padding: 3px;
  }

  .calendar-weeks, .calendar-week, .calendar-week--days {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .calendar-weeks {
    flex-direction: column;
    min-height: 266px;
    justify-content: flex-start;
  }

  .calendar-week--days .day-name {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .6;
  }

  .calendar-week--day {
    content: "";
    flex-grow: 1;
    width: calc(100% / 7);
    position: relative;

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    &.day-name:before {
      padding-top: 0;
    }

    .day-button {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      cursor: pointer;

      &:hover {
        background: rgba(0, 0, 0, .3);
      }
    }

    & .calendar-day-of-week {
      box-sizing: border-box;
      margin: 0;

      & > .background, & > .content {
        padding: 0;
      }
      & > .background {
        border-radius: 100%;
        width: 100%;
        height: 100%;
      }
    }

    &.day-selected .day-button {
      color: rgb(255, 255, 255);
      background: $main-color;
    }

    &.day-disabled:hover {
      background: none;
      cursor: default;
    }
  }

  .month-neighbor {
    opacity: 0.4;
  }

  .day-current {
    color: #03a9f4;
  }

  .day-weekend a.calendar-day-of-week > .content, .day-weekend {
    color: #f44336;
  }

  .calendar-display--date-month-title {
    color: rgb(255, 255, 255);
    font-size: 36px;
  }

  .calendar-year--root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 395px;
    align-items: center;
    overflow: auto;

    .year-current > .content {
      color: #03a9f4;
    }

    .year-selected > .content {
      font-size: 26px;
      color: $main-color;
    }

    .year-button {
      min-width: 72px;
      min-height: 36px;
      height: 36px;
      margin: 0;
    }

    .year-button:hover:not(.year-selected) .content {
      font-size: 20px;
      color: $main-color;
    }
  }

  .calendar-display-date--title {
    opacity: 0.6;
    font-weight: 500;
    transition: $transition;
    cursor: pointer;
  }

  .calendar-date-display--title-active {
    opacity: 1;
    transition: $transition;
    cursor: default;
  }
}