.sitg-item {
  position: absolute;
  padding: 10px auto;
  width: 100%;
  border: 1px solid gainsboro;
  background: #FFF;
}

.animation-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.animation-wrapper-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.animation-wrapper-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  width: 100%;
}

.animation-wrapper-content {
  display: inline-block;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

$transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
.direction-right {
  //starting state of animation
  .fade-enter {
    right: -100%;
    opacity: 0;
  }

  //end state of animation
  .fade-enter-active {
    right: 0;
    transition: $transition;
    opacity: 1;
  }

  .fade-leave {
    right: 0;
    opacity: 1;
  }

  .fade-leave-active {
    right: 100%;
    opacity: 0;
    transition: $transition;
  }
}

.direction-left {
  //starting state of animation
  .fade-enter {
    left: -100%;
    opacity: 0;
  }

  //end state of animation
  .fade-enter-active {
    left: 0;
    transition: $transition;
    opacity: 1;
  }

  .fade-leave {
    left: 0;
    opacity: 1;
  }

  .fade-leave-active {
    left: 100%;
    opacity: 0;
    transition: $transition;
  }
}

.direction-up {
  //starting state of animation
  .fade-enter {
    transform: translateY(100%);
    opacity: 0;
  }

  //end state of animation
  .fade-enter-active {
    transform: translateY(0);
    transition: $transition;
    opacity: 1;
  }

  .fade-leave {
    transform: translateY(0);
    height: 100%;
    opacity: 1;
  }

  .fade-leave-active {
    transform: translateY(-100%);
    opacity: 0;
    transition: $transition;
  }
}

.direction-down {
  //starting state of animation
  .fade-enter {
    transform: translateY(-100%);
    opacity: 0;
  }

  //end state of animation
  .fade-enter-active {
    transform: translateY(0);
    transition: $transition;
    opacity: 1;
  }

  .fade-leave {
    transform: translateY(0);
    height: 100%;
    opacity: 1;
  }

  .fade-leave-active {
    transform: translateY(100%);
    opacity: 0;
    transition: $transition;
  }
}